@import url(https://fonts.googleapis.com/css?family=Open+Sans);
* {
    padding: 0;
    margin: 0;
    border: 0;
}
body {
    font-family: "Open Sans", serif;
    font-size: 1rem;
    background-color: var(--bg-col);
    color: var(--font-col);
}
h1 {
    margin-bottom: 20px;
    margin-right: 5px;
    max-width: min(30, 90%);
}
h3 {
    margin-top: 10px;
    margin-bottom: 10px;
    max-width: 90%;
    max-width: min(30, 90%);
}
img {
    width: 100%;
    border-radius: 5px;
}
header {
    position: sticky;
    top: 0;
    min-width: 250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--card-bg-col);
    padding: 1em;
    box-shadow: 2px 2px 5px var(--shadow-col);
}
input {
    background-color: var(--bg-col);
    color: var(--font-col);
}
::placeholder {
    color: var(--font-col);
    opacity: 0.6;
}
button {
    background-color: var(--img-bg-col);
    cursor: pointer;
    color: var(--font-col);
}
input,
button {
    padding: 5px;
    border-radius: 5px;
    margin: 5px;
}
.movies-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
.movie-card {
    display: flex;
    /* height: fit-content; */
    flex: 1;
    width: 100%;
    min-width: 350px;
    justify-content: flex-start;
    background-color: var(--card-bg-col);
    border-radius: 5px;
    overflow: hidden;
    margin: 30px;
    box-shadow: 2px 2px 5px var(--shadow-col);
    cursor: pointer;
}
.poster-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--img-bg-col);
    padding: 1em;
    min-width: 100px;
}
.info-container {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 1em;
}
.selected {
    width: max-content;
    min-width: 450px;
    box-shadow: 0px 0px 5px 3px var(--glow-col);
}
.selected .movie-name,
.selected .movie-plot,
.selected .cast-names,
.selected .director-name {
    width: max-content;
    max-width: min(30ch, 90%);
    /* height: fit-content; */
    word-wrap: break-word;
    overflow: unset;
    white-space: unset;
    text-overflow: unset;
}

.movie-plot,
.movie-name,
.cast-names,
.director-name {
    margin-left: 0;
    width: 90%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.movie-plot,
.cast-names,
.director-name {
    font-weight: 1;
}

@media only screen and (max-width: 768px) {
    body {
        font-size: 0.8rem;
    }
    header {
        flex-direction: column-reverse;
    }
    .movie-card {
        flex-direction: column;
        width: 60vw;
        min-width: 250px;
        width: fit-content;
    }
    .info-container {
        align-items: center;
        width: unset;
    }
    .movie-name,
    .movie-plot,
    .cast-names,
    .director-name {
        width: unset;
        max-width: min(50ch, 90%);
        text-align: left;
    }
    .selected {
        width: fit-content;
    }
    .selected .movie-name,
    .selected .movie-plot,
    .selected .cast-names,
    .selected .director-name {
        width: unset;
        max-width: 70ch;
        text-align: center;
    }
    .poster-container {
        width: unset;
    }
}
